[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
bs4 = "*"
pypyodbc = "*"
jellyfish = "*"
sqlalchemy = "*"
matplotlib = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
pydocstyle = "*"
pycodestyle = "*"
urllib3 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
